<body>

</body>

<template name="inputData">
    <form>
        Select a time:
        <input type="time" name="inputDataVal">
        <input type="submit" value="Input Data">
    </form>

</template>

<template name="dataTemp">

    <p>
        {{lastVal}}
    </p>
    
</template>